* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#favicon {
    animation: spin 5s linear infinite; /* تعديل سرعة الدوران هنا */
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0; 
    overflow: hidden; /* منع التمرير */
}

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 70px;
    height: auto;
    z-index: 999;
}

.container {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* منع التمرير داخل الحاوية */
}

.content {
    text-align: center;
    position: relative; 
    z-index: 1; 
    max-width: 90%; /* تجنب الحواف القريبة جداً */
}

.content h1 {
    font-size: 90px;
    color: #de560d;
    margin-bottom: 50px;
    transition: top 0.5s, opacity 0.5s; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* إضافة ظل للنص */
}

.main-btn {
    font-size: 18px; 
    color: #de560d;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    border: 2px solid #bb0475;
    padding: 0.9375em 2.1875em;
    border-radius: 50px;
    transition: 0.9s ease; 
    box-shadow: #000 0px 0px 10px 0px;
    font-weight: bold; /* جعل الخط غامق */
}

.main-btn:hover {
    background-color: #1bad0d;
    color: #000;
    transform: scale(1.05); 
}

.download-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 24px 0;
}

.download-buttons .btn {
    margin: 0 10px;
    display: flex;
    font-size: 16px;
    color: #000000d1;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px solid #aeaaaa;
    padding: 0.9375em;
    min-width: 150px;
    border-radius: 50px;
    transition: 0.9s ease;
    background-color: transparent;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: #000 0px 0px 10px 0px;
    font-weight: bold; /* جعل الخط غامق */
}

.download-buttons a:hover .fab.fa-apple {
    color: #535151; /* اللون الأصلي اب ستور */
}

.download-buttons a:hover .fab.fa-google-play {
    color:  #34A853; /* اللون الأصلي لجوجل بلاي */
}

.btn:hover {
    transform: scale(1.1);
    background-color: #000000;
    color: #f5f9f6;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    padding: 15px;
    border-radius: 50px;
}

.social-icons a {
    color: #020202;
    font-size: 1.7em; 
    margin: 0 15px; 
    transition: color 0.3s;
}

.social-icons a:hover {
    color: transparent; 
}

.footer {
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0; 
    background-color: #000016;
    color: #fff;
    padding: 15px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 40px; 
    z-index: 999; 
}

.footer-title {
    font-size: 1em; 
    font-weight: 600;
}

.footer .social-icons {
    display: flex;
    gap: 15px; 
}

.footer .social-icons a {
    font-size: 1em; 
    color: #fff; 
}

.footer .social-icons a:hover {
    color: #ee2f0e; 
}

/* تغيير لون الأيقونات عند التمرير */
.social-icons a:hover {
    color: transparent; /* اجعل اللون الأصلي غير مرئي */
}

/* تحديد الألوان الأصلية لكل أيقونة */
.social-icons a:hover .fab.fa-whatsapp {
    color: #00b944; /* واتساب */
}

.social-icons a:hover .fab.fa-facebook {
    color: #0138af; /* فيسبوك */
}

.social-icons a:hover .fab.fa-twitter {
    color: #1DA1F2; /* تويتر */
}

.social-icons a:hover .fab.fa-snapchat {
    color: #FFFC00; /* سناب شات */
}

.social-icons a:hover .fab.fa-instagram {
    color: #C13584; /* إنستغرام */
}

.social-icons a:hover .fab.fa-youtube {
    color: #FF0000; /* يوتيوب */
}

#loadingMessage {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* التعديلات الخاصة بالجوال */
@media (max-width: 641px) {
    video {
        height: 100vh; /* تأكد من ملء ارتفاع الشاشة بالكامل على الجوال */
        width: 100%; /* تأكد من ملء عرض الشاشة بالكامل */
    }
    .content {
        top: -80px;
    }
    .h1 { 
        top: 80px;
    }
    .content h1 {
        top: -180px;
        left: 50%;
        font-size: 40px !important; /* إجبار المتصفح على استخدام هذه القيمة */
    }
        /* جعل الزر في منتصف الشاشة */
    .main-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
       /* رفع أزرار التحميل بمقدار 50 بكسل */
    .download-buttons {
        bottom: 70px; /* رفع بمقدار 50 بكسل عن الوضع السابق */
    }
      /* وضع أيقونات السوشيال ميديا أسفل الزر */
    .social-icons {
        position: absolute;
        top: 60%; /* أسفل الزر بمسافة */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    .footer {
        padding: 10px; /* تقليل الحشوة في الفوتر */
    }
    .footer-title {
        font-size: 0.9em; /* تقليل حجم النص في الفوتر */
    }
}

@media (max-width: 300px) {
    .h1 { 
        top: 80px;
    }
    .content h1 {
        top: -180px;
        left: 50%;
        font-size: 20px !important; /* إجبار المتصفح على استخدام هذه القيمة */
    }
    
    .main-btn {
        font-size: 16px; /* حجم الزر على الشاشات الأصغر */
    }
}

/* الألوان عند فتح الموقع على الهاتف */
@media (max-width: 641px) {
    .social-icons a .fab.fa-whatsapp {
        color: #00b944; /* واتساب */
    }
    .social-icons a .fab.fa-facebook {
        color: #0138af; /* فيسبوك */
    }
    .social-icons a .fab.fa-twitter {
        color: #1DA1F2; /* تويتر */
    }
    .social-icons a .fab.fa-snapchat {
        color: #FFFC00; /* سناب شات */
    }
    .social-icons a .fab.fa-instagram {
        color: #C13584; /* إنستغرام */
    }
    .social-icons a .fab.fa-youtube {
        color: #FF0000; /* يوتيوب */
    }
}